@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.theme-default,
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-default.dark,
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.theme-slate {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.theme-slate.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

.theme-mocha-mousse {
  --background: oklch(0.9529 0.0146 102.4597);
  --foreground: oklch(0.4063 0.0255 40.3627);
  --card: oklch(0.9529 0.0146 102.4597);
  --card-foreground: oklch(0.4063 0.0255 40.3627);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.4063 0.0255 40.3627);
  --primary: oklch(0.6083 0.0623 44.3588);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.7473 0.0387 80.5476);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.8502 0.0389 49.0874);
  --muted-foreground: oklch(0.5416 0.0512 37.2132);
  --accent: oklch(0.8502 0.0389 49.0874);
  --accent-foreground: oklch(0.4063 0.0255 40.3627);
  --destructive: oklch(0.2225 0.0098 52.9636);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.7473 0.0387 80.5476);
  --input: oklch(0.7473 0.0387 80.5476);
  --ring: oklch(0.6083 0.0623 44.3588);
  --chart-1: oklch(0.6083 0.0623 44.3588);
  --chart-2: oklch(0.5416 0.0512 37.2132);
  --chart-3: oklch(0.7272 0.0539 52.332);
  --chart-4: oklch(0.7473 0.0387 80.5476);
  --chart-5: oklch(0.644 0.0405 52.3917);
  --sidebar: oklch(0.8903 0.0278 49.5658);
  --sidebar-foreground: oklch(0.4063 0.0255 40.3627);
  --sidebar-primary: oklch(0.6083 0.0623 44.3588);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.7272 0.0539 52.332);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.644 0.0405 52.3917);
  --sidebar-ring: oklch(0.6083 0.0623 44.3588);
  --radius: 0.5rem;
  --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
  --shadow-sm: 2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 1px 2px -1px hsl(20 18% 51% / 0.11);
  --shadow: 2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 1px 2px -1px hsl(20 18% 51% / 0.11);
  --shadow-md: 2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 2px 4px -1px hsl(20 18% 51% / 0.11);
  --shadow-lg: 2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 4px 6px -1px hsl(20 18% 51% / 0.11);
  --shadow-xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 8px 10px -1px hsl(20 18% 51% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.28);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.theme-mocha-mousse.dark {
  --background: oklch(0.2721 0.0141 48.1783);
  --foreground: oklch(0.9529 0.0146 102.4597);
  --card: oklch(0.3291 0.0156 50.8936);
  --card-foreground: oklch(0.9529 0.0146 102.4597);
  --popover: oklch(0.3291 0.0156 50.8936);
  --popover-foreground: oklch(0.9529 0.0146 102.4597);
  --primary: oklch(0.7272 0.0539 52.332);
  --primary-foreground: oklch(0.2721 0.0141 48.1783);
  --secondary: oklch(0.5416 0.0512 37.2132);
  --secondary-foreground: oklch(0.9529 0.0146 102.4597);
  --muted: oklch(0.4063 0.0255 40.3627);
  --muted-foreground: oklch(0.7575 0.038 50.861);
  --accent: oklch(0.7473 0.0387 80.5476);
  --accent-foreground: oklch(0.2721 0.0141 48.1783);
  --destructive: oklch(0.6875 0.142 21.4566);
  --destructive-foreground: oklch(0.2721 0.0141 48.1783);
  --border: oklch(0.4063 0.0255 40.3627);
  --input: oklch(0.4063 0.0255 40.3627);
  --ring: oklch(0.7272 0.0539 52.332);
  --chart-1: oklch(0.7272 0.0539 52.332);
  --chart-2: oklch(0.7473 0.0387 80.5476);
  --chart-3: oklch(0.6083 0.0623 44.3588);
  --chart-4: oklch(0.5416 0.0512 37.2132);
  --chart-5: oklch(0.644 0.0405 52.3917);
  --sidebar: oklch(0.2225 0.0098 52.9636);
  --sidebar-foreground: oklch(0.9529 0.0146 102.4597);
  --sidebar-primary: oklch(0.7272 0.0539 52.332);
  --sidebar-primary-foreground: oklch(0.2225 0.0098 52.9636);
  --sidebar-accent: oklch(0.7473 0.0387 80.5476);
  --sidebar-accent-foreground: oklch(0.2225 0.0098 52.9636);
  --sidebar-border: oklch(0.4063 0.0255 40.3627);
  --sidebar-ring: oklch(0.7272 0.0539 52.332);
  --radius: 0.5rem;
  --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
  --shadow-sm: 2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 1px 2px -1px hsl(20 18% 30% / 0.11);
  --shadow: 2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 1px 2px -1px hsl(20 18% 30% / 0.11);
  --shadow-md: 2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 2px 4px -1px hsl(20 18% 30% / 0.11);
  --shadow-lg: 2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 4px 6px -1px hsl(20 18% 30% / 0.11);
  --shadow-xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 8px 10px -1px hsl(20 18% 30% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.28);
}

.theme-catppuccin {
  --radius: 0.625rem;
  --background: hsl(220 23.08% 94.9%); /* base */
  --foreground: hsl(234 16.02% 35.49%); /* text */
  --card: hsl(220 23.08% 94.9%); /* base */
  --card-foreground: hsl(234 16.02% 35.49%); /* text */
  --popover: hsl(220 23.08% 94.9%); /* base */
  --popover-foreground: hsl(234 16.02% 35.49%); /* text */
  --primary: hsl(0 59.76% 66.86%); /* accent - Flamingo */
  --primary-foreground: hsl(220 23.08% 94.9%); /* base */
  --secondary: hsl(223 15.91% 82.75%); /* surface0 */
  --secondary-foreground: hsl(234 16.02% 35.49%); /* text */
  --muted: hsl(223 15.91% 82.75%); /* surface0 */
  --muted-foreground: hsl(233 12.8% 41.37%); /* subtext1 */
  --accent: hsl(223 15.91% 82.75%); /* surface0 */
  --accent-foreground: hsl(234 16.02% 35.49%); /* text */
  --destructive: hsl(347 86.67% 44.12%); /* red */
  --border: hsl(225 13.56% 76.86%); /* surface1 */
  --input: hsl(225 13.56% 76.86%); /* surface1 */
  --ring: hsl(234 16.02% 35.49%); /* text */
  --chart-1: hsl(345 57.65% 74.12%); /* red */
  --chart-2: hsl(185 37.25% 70.59%); /* teal */
  --chart-3: hsl(219 81.96% 78.43%); /* blue */
  --chart-4: hsl(35 61.18% 76.86%); /* yellow */
  --chart-5: hsl(113 32.94% 73.33%); /* green */
  --sidebar: hsl(218 25.1% 93.73%); /* mantle */
  --sidebar-foreground: hsl(234 16.02% 35.49%); /* text */
  --sidebar-primary: hsl(0 59.76% 66.86%); /* accent - Flamingo */
  --sidebar-primary-foreground: hsl(220 23.08% 94.9%); /* base */
  --sidebar-accent: hsl(220 23.08% 94.9%); /* surface0 */
  --sidebar-accent-foreground: hsl(234 16.02% 35.49%); /* text */
  --sidebar-border: hsl(225 13.56% 76.86%); /* surface1 */
  --sidebar-ring: hsl(225 13.56% 76.86%); /* surface1 */
}

.theme-catppuccin.dark {
  --radius: 0.625rem;
  --background: hsl(240 21.05% 14.9%); /* base */
  --foreground: hsl(226 63.93% 88.04%); /* text */
  --card: hsl(240 21.05% 14.9%);
  --card-foreground: hsl(226 63.93% 88.04%);
  --popover: hsl(240 21.05% 14.9%);
  --popover-foreground: hsl(226 63.93% 88.04%);
  --primary: hsl(0 58.73% 87.65%);
  --primary-foreground: hsl(240 21.05% 14.9%);
  --secondary: hsl(237 16.24% 22.94%);
  --secondary-foreground: hsl(226 63.93% 88.04%);
  --muted: hsl(237 16.24% 22.94%);
  --muted-foreground: hsl(227 35.29% 80%);
  --accent: hsl(237 16.24% 22.94%);
  --accent-foreground: hsl(226 63.93% 88.04%);
  --destructive: hsl(343 81.25% 74.9%);
  --border: hsl(234 13.21% 31.18%);
  --input: hsl(234 13.21% 31.18%);
  --ring: hsl(226 63.93% 88.04%);
  --chart-1: hsl(329 21.57% 37.25%);
  --chart-2: hsl(188 18.82% 37.25%);
  --chart-3: hsl(221 27.45% 39.61%);
  --chart-4: hsl(30 9.41% 42.35%);
  --chart-5: hsl(139 12.94% 38.04%);
  --sidebar: hsl(240 21.18% 14.12%);
  --sidebar-foreground: hsl(226 63.93% 88.04%);
  --sidebar-primary: hsl(0 58.73% 87.65%);
  --sidebar-primary-foreground: hsl(240 21.05% 14.9%);
  --sidebar-accent: hsl(240 21.05% 14.9%);
  --sidebar-accent-foreground: hsl(226 63.93% 88.04%);
  --sidebar-border: hsl(234 13.21% 31.18%);
  --sidebar-ring: hsl(234 13.21% 31.18%);
}

.theme-caffeine {
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.24 0 0);
  --card: oklch(0.99 0 0);
  --card-foreground: oklch(0.24 0 0);
  --popover: oklch(0.99 0 0);
  --popover-foreground: oklch(0.24 0 0);
  --primary: oklch(0.43 0.04 42);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.92 0.07 76.67);
  --secondary-foreground: oklch(0.35 0.07 41.41);
  --muted: oklch(0.95 0 0);
  --muted-foreground: oklch(0.5 0 0);
  --accent: oklch(0.93 0 0);
  --accent-foreground: oklch(0.24 0 0);
  --destructive: oklch(0.63 0.19 33.26);
  --border: oklch(0.88 0 0);
  --input: oklch(0.88 0 0);
  --ring: oklch(0.43 0.04 42);
  --chart-1: oklch(0.43 0.04 42);
  --chart-2: oklch(0.92 0.07 76.67);
  --chart-3: oklch(0.93 0 0);
  --chart-4: oklch(0.94 0.05 75.02);
  --chart-5: oklch(0.43 0.04 42);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.26 0 0);
  --sidebar-primary: oklch(0.33 0 0);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.98 0 0);
  --sidebar-accent-foreground: oklch(0.33 0 0);
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-ring: oklch(0.77 0 0);

  --font-sans: "Geist", "Geist Fallback", ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Geist", "Geist Fallback", ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;
  --font-mono: "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --radius: 0.5rem;

  --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-lg: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-xl: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);
}

.theme-caffeine.dark {
  --background: oklch(0.18 0 0);
  --foreground: oklch(0.95 0 0);
  --card: oklch(0.21 0 0);
  --card-foreground: oklch(0.95 0 0);
  --popover: oklch(0.21 0 0);
  --popover-foreground: oklch(0.95 0 0);
  --primary: oklch(0.92 0.05 67.14);
  --primary-foreground: oklch(0.2 0.02 201.14);
  --secondary: oklch(0.32 0.02 67);
  --secondary-foreground: oklch(0.92 0.05 67.14);
  --muted: oklch(0.25 0 0);
  --muted-foreground: oklch(0.77 0 0);
  --accent: oklch(0.29 0 0);
  --accent-foreground: oklch(0.95 0 0);
  --destructive: oklch(0.63 0.19 33.26);
  --border: oklch(0.24 0.01 88.77);
  --input: oklch(0.4 0 0);
  --ring: oklch(0.92 0.05 67.14);
  --chart-1: oklch(0.92 0.05 67.14);
  --chart-2: oklch(0.32 0.02 67);
  --chart-3: oklch(0.29 0 0);
  --chart-4: oklch(0.35 0.02 67.11);
  --chart-5: oklch(0.92 0.05 67.14);
  --sidebar: oklch(0.21 0.01 285.56);
  --sidebar-foreground: oklch(0.97 0 0);
  --sidebar-primary: oklch(0.49 0.22 264.43);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.27 0.01 285.81);
  --sidebar-accent-foreground: oklch(0.97 0 0);
  --sidebar-border: oklch(0.27 0.01 285.81);
  --sidebar-ring: oklch(0.87 0.01 286.27);

  --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-lg: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-xl: 0 1px 3px 0px oklch(0 0 0 / 0.1),
    0 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button,
  [role="button"] {
    cursor: pointer;
  }
}

.animate-appear {
  animation: appear 0.6s ease-out forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    filter: blur(0.5rem);
    transform: translateY(1rem);
  }
  50% {
    filter: blur();
  }
  to {
    opacity: 1;
    filter: blur();
    transform: translateY(0);
  }
}

.animation-delay-300 {
  animation-delay: 300ms;
}

.animation-delay-100 {
  animation-delay: 100ms;
}

body,
.font-inter {
  font-family: "Inter";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Onest";
}
